body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main_header {
  display: flex;
  justify-content: center;
}

#page_layout {
  display: flex;
  justify-content: space-between;
}

/* Projects List CSS */
#projects_container {
  margin: 2vh 2vw;
}

#projects_container {
  width: 70vw;
}
.project_link {
  margin: 0.5rem auto;
}

/* Accessory Panel CSS */
#accessory_panel {
  width: 20vw;
  margin: 2vh 2vw;
}

#links_panel {
  border: 2px solid black;
  padding: 1vh;
}

#github_link {
  vertical-align: middle;
}

#github_link > img {
  height: 1rem;
}
